@page
@model Krucible.Pages.AssimilationModel
@{
    ViewData["Title"] = "Assimilation";
}

<h1>Assimilation</h1>

<input type="submit"
       value="Generate random pair"
       asp-page-handler="RandomPair" /> <br />