@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-page="/SinoKoreanNumbers">Sino-Korean numbers training</a></p>
    <p><a asp-page="/Assimilation">Assimilation Table training</a></p>
    <p><a asp-page="/AssimilationWord">Assimilation Word training</a></p>
    <p><a asp-page="/Date">Date training</a></p>
    <!--<p><a asp-page="/VocabularyTraining">Vocabulary training</a></p>-->
    <p><a href="https://www.branah.com/korean">Korean keyboard</a></p>
</div>
